﻿@model DoctorChameleon.Models.Clinic.Medication

@{
    ViewBag.Title = "Medication Details";
}

<h2>Medication Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
