﻿@model IEnumerable<DoctorChameleon.Models.Clinic.Medication>

@{
    ViewBag.Title = "Medications";
}

<h2>Medications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MedicationId })
        </td>
    </tr>
}

</table>
