﻿@model DoctorChameleon.Models.Clinic.Patient

@{
    ViewBag.Title = Model.Name;
}

<h2>Patient Details</h2>

<hr />

<div>
    <h3>@Html.DisplayFor(model => model.Name)</h3>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PatientId }) |
        @Html.ActionLink("View All Patients", "Index")
    </p>

    <hr />

    <h4>@Html.DisplayNameFor(model => model.Visits)</h4>
    <ul>
        @foreach (var visit in Model.Visits)
        {
            <li>
                @Html.ActionLink(visit.Date.ToString("dd/MM/yyyy"), "Details", "Visits", new { id = visit.VisitId }, null)
            </li>
        }
    </ul>
    @Html.ActionLink("Add New Visit", "Create", "Visits", new { patientId = Model.PatientId }, null)
</div>
