﻿@model IEnumerable<DoctorChameleon.Models.Clinic.Patient>

@{
    ViewBag.Title = "Registered Patients";
}

<h2>Registered Patients</h2>

<p>
    @Html.ActionLink("Register New Patient", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Last Visit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.PatientId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visits.LastOrDefault().Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientId })
        </td>
    </tr>
}

</table>
