﻿@model DoctorChameleon.Models.Clinic.Visit

@{
    ViewBag.Title = "Visit Details";
}

<h2>Visit Details</h2>

<hr />

<div>
    <h3>@Model.Patient.Name</h3>
    <h4>@Model.Date.ToString("dd/MM/yyyy")</h4>
    
    <hr />

    <h4>@Html.DisplayNameFor(model => model.Diagnosis)</h4>
    <p>@Model.Diagnosis</p>

    <hr />

    <h4>@Html.DisplayNameFor(model => model.Medications)</h4>
    <ul>
        @foreach (var med in ViewBag.Medications)
        {
            if (med.Prescribed)
            {
            <li>
                @med.Name
            </li>
            }
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VisitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
