﻿@model IEnumerable<DoctorChameleon.Models.Clinic.Visit>

@{
    ViewBag.Title = "Visits";
}

<h2>Visits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Patient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="white-space:nowrap">
            @Html.DisplayFor(modelItem => item.Patient.Name)
        </td>
        <td style="white-space:nowrap">
            @Html.ActionLink(item.Date.ToString("dd/MM/yyyy"), "Details", new { id = item.VisitId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diagnosis)
        </td>
        <td style="white-space:nowrap">
            @Html.ActionLink("Edit", "Edit", new { id=item.VisitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VisitId })
        </td>
    </tr>
}

</table>
