﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/logo.jpg" style="max-width: 800px; width: 100%;" alt="Logo" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage Patients</h2>
        <p>
            Click below to view all patients that have been already registered.
        </p>
        <p>@Html.ActionLink("Manage Patients", "Index", "Patients", null, new { @class="btn btn-default"})</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Visits</h2>
        <p>Click below to manage your patients' visits list.</p>
        <p>@Html.ActionLink("Manage Visits", "Index", "Visits", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Medications</h2>
        <p>Click below to manage your medications list.</p>
        <p>@Html.ActionLink("Manage Medications", "Index", "Medications", null, new { @class = "btn btn-default" })</p>
    </div>
</div>